export(GRangesBasedAnnotation)
export(RangedAnnotation)
export(annotName)
export(annotationGR)
export(annotationL)
export(annotationMap)
export(convertRangesToDF)
export(createRObject_gtf)
export(getAnnotationByID)
export(loadLibraryGloballyAs)
export(loadLibraryLocallyAs)
exportClasses(GRangesBasedAnnotation)
exportClasses(GeneAnnotation)
exportClasses(NcbiBlastAnnotation)
exportClasses(RangedAnnotation)
exportClasses(SequenceBasedAnnotation)
exportMethods(annotName)
exportMethods(annotationGR)
exportMethods(annotationL)
exportMethods(annotationMap)
exportMethods(convertRangesToDF)
exportMethods(getAnnotationByID)
exportMethods(initialize)
import(Biostrings)
import(XML)
importFrom(rtracklayer,import)
